:root {
  --header-bg-color: rgb(52, 204, 255);
  --header-bg-dark: rgb(0, 152, 203);
  --card-header-bg-dark: gray;
  --text-white: white;

  --bg-dark: black;
}

header {
  background-color: var(--header-bg-color);
  color: var(--text-white);
}

ul {
  list-style-type: none;
}

ul > a {
  text-decoration: none;
}

.custom-section {
  display: flex;
  flex-direction: column;
}

.custom-body {
  background-color: var(--text-white);
}

.container-search {
  width: 100%;
}

.container-weather {
  width: 100%;
}

.custom-card {
  width: 100%;
  height: auto;
  margin: 0;
}

.button-load-city {
  max-width: 80%;
}

.custom-close {
  position: absolute;
  left: 10px;
  top: 10px;
}

#forecast {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  
  .custom-section,
  .container-forecast {
    display: flex;
    flex-direction: row;
  }

  #forecast .card {
    width: 25%;
    margin: 5px;
  }

  .container-search {
    width: 25%;
  }

  .button-load-city {
    max-width: 65%;
  }
}


@media (prefers-color-scheme: dark) {

  hr {
    color: white;
  }

  .custom-body {
    background-color: var(--bg-dark);
  }

  .container-search,
  .container-weather {
    background-color: var(--bg-dark);
  }

  .container-search h2,
  .container-weather h2,
  .container-weather h3 {
    color: var(--text-white);
  }

  .container-weather .card {
    background-color: var(--bg-dark);
    color: var(--text-white);
    border: 2px solid var(--text-white);
    padding: 0;
  }

  .container-weather .card-header {
    background-color: var(--card-header-bg-dark);
    color: var(--text-white);
  }
}
