:root {
  --header-bg-color: lightblue;

  --text-white: white;
}

header {
  background-color: var(--header-bg-color);
  color: var(--text-white);
}


.container-search {
  background-color: purple;
}

.container-weather {
  background-color: red;
}


.custom-card {
  width: 20%;
  height: auto;
}